@tailwind base;
@tailwind components;
@tailwind utilities;

h1, h2, h3, h4, button {
    font-family: var(--font-inter);
}

p {
    font-family: var(--font-lato);
}

.elevii {
    right: 0;
}

ul.slick-dots {
    bottom: -50px;
}

.smartphone {
    background-image: url('../assets/molde_phone.png');
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 10;
}